*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: auto;
    margin: 20px;
    height: auto;

}
header{
    text-align: center;
}
section{
    display: flex;
    gap: 40px;
    width: 100%;
    align-content: center;
    margin-top: 50px;
}
section > div{
    background-color: rgb(125, 121, 121);
    position: relative;
    border: 2px solid black;
    height: 200px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
}
section > div > h3{
    position: absolute;
    top: 0;
    right: 0;
}
h3{
    padding: 5px 30px;
    border: 2px solid black;
}

.first-header{
    background-color: rgb(218, 116, 116);
}
.sec-header{
    background-color: brown;
}
.third-header{
    background-color: rgb(237, 181, 112);
}
section > div > p{
    padding: 25px;
}
/* Media Querry starts here */
@media screen and (max-width: 767px){
    header h1{
        width: 100%;
    }
    section {
        display: block ;
        width: 100%;
    }
    section > div {
        width: auto;
        height: auto;
        margin: 5px;
        padding: 20px;
    }
    

}


